PUBLIC_BACKEND_URL=http://localhost:8080
INTERNAL_BACKEND_URL=http://localhost:8080
PUBLIC_FALLBACK_IMG_URL=https://ui-avatars.com/api/?background=893DC3FF&color=fff&name=%name%

PUBLIC_USE_TURNSTILE_CAPTCHA=false
PUBLIC_TURNSTILE_SITE_KEY=
SECRET_TURNSTILE_KEY=

PUBLIC_DISABLE_SIGNUP=false