# .env
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=

FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173

USE_HTTPS=false

#JWT_ISSUER=https://aren.lan
# Issuer replaced with the actual URL of the backend server instead of local domain
JWT_ISSUER=http://localhost:8000